@using SupplyChain.App.ViewModels;
@model ProductQuantityRequestViewModel

<div class="container">
    <div class="card bg-dark text-white">
        <img src="@Model.ProductViewModel.ImageUrl" class="card-img" alt="@Model.ProductViewModel.ProductName">
        <div class="card-img-overlay">
            <h3 class="display-5">@Model.ProductViewModel.ProductName</h3>
            <p class="card-text">
                <span>
                    @if (Model.ProductViewModel.Quantity > 0)
                    {
                        <span class="available">In Stock <i class="fas fa-layer-group"></i> @Model.ProductViewModel.Quantity &frasl; @Model.ProductViewModel.UnitName</span>
                    }
                    else
                    {
                        <span class="not-available">Not In Stock</span>
                    }
                </span>
                <div class="fs-5 mb-5">
                    <span>&pound; @Model.ProductViewModel.Price</span>
                </div>
            </p>
           
        </div>
    </div>
    <hr />
    <form asp-action="CreateProductQuantityRequest" onsubmit="products.create_product_quantity_request(e)">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProductId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="alert alert-danger text-center p-1 d-none">
            <small id="error-message-content"></small>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="QuantityToAdd">Additional Quantity</label>
                    <input asp-for="QuantityToAdd" class="form-control" required>
                    <span asp-validation-for="QuantityToAdd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reason"></label>
                    <textarea asp-for="Reason" class="form-control" required></textarea>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Request" class="btn btn-outline-primary btn-block" />
                </div>
            </div>
        </div>
    </form>
</div>


