@using SupplyChain.App.ViewModels;
@using SupplyChain.Services;
@model PagedViewModel<UserViewModel>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["mTitle"] = "Add/Edit Users";
}
<div class="card" id="user-card">
    <div class="card-header">
        <h3 class="card-title">Users</h3>
        @if (await CurrentUser.HasPermissionAsync("CanAddUser"))
        {
            <button class="btn btn-small btn-outline-success float-right" id="open-user-modal" data-toggle="modal" data-target="#general-partial-modal">
                <i class="fas fa-plus"></i>
            </button>
        }
    </div>
    <div id="user-card-body" class="card-body">
        <div>
            <table id="page-content" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>
                                @if (item.IsSupplier)
                                {
                                    <span class="badge badge-success">Supplier</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">Buyer</span>
                                }
                            </td>
                            <td>
                                @if (await CurrentUser.HasPermissionAsync("CanEditUser"))
                                {
                                    <button id="edit-form-modal" type="button" class="btn btn-sm btn-warning" data-id="@item.Id"
                                            onclick="users.load_edit_modal(this.getAttribute('data-id'))">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                }
                                @if (await CurrentUser.HasPermissionAsync("CanDeleteUser"))
                                {
                                    <button id="delete-item" type="button" class="btn btn-sm btn-danger text-light ml-1" data-id="@item.Id"
                                            onclick="users.delete_user_item(this.getAttribute('data-id'))">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer clearfix">
        @await Html.PartialAsync("~/Views/Pagers/_PagerUser.cshtml", Model)
    </div>
</div>
@await Html.PartialAsync("_PartialModal")